<% layout('boilerplate') -%>
<% script('https://cdn.socket.io/socket.io-1.3.2.js') %>
<% block('title', title) %>

<script>
    var socket = io.connect('<%= ip %>:4000');
</script>
<script src="/javascripts/chat.js"></script>

<p>Chat</p>
<input type="button" id="meow" name="meow" value="Join meow">
<input type="button" id="potato" name="potato" value="Join potato">
<input type="button" id="leave" name="leave" value="Leave">
