<% var ngApp = 'omnisplitApp'; %>
<% var ngController = 'dashboardController'; %>

<% stylesheet('stylesheets/boilerplate-dashboard.css') %>
<% stylesheet('https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/css/base/jquery.ui.all.css') %>
<% stylesheet('https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.2/css/lightness/jquery-ui-1.10.2.custom.min.css') %>
<% stylesheet('stylesheets/menu.css') %>
<% stylesheet('stylesheets/settings.css') %>

<% script('javascripts/spin.min.js') %>
<% script('javascripts/jquery-ui.min.js') %>
<% script('javascripts/boilerplate-dashboard.js') %>

<% include header %>

<div id="spinner"></div>
<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #a64ca6" ng-controller="tabController as tab">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#dashboard" ng-click="tab.setTab(3)">OmniSplit</a>
		</div>
		<div style="margin: auto;">
			<ul class="nav navbar-nav">
				<li ng-class="{active:tab.isSet(1)}"><a href="#tables" ng-click="tab.setTab(1)">Tables</a></li>
				<li ng-class="{active:tab.isSet(2)}"><a href="#orders" ng-click="tab.setTab(2)">Orders</a></li>
				<li ng-class="{active:tab.isSet(3)}"><a href="#dashboard" ng-click="tab.setTab(3)">Dashboard</a></li>
				<li ng-class="{active:tab.isSet(4)}"><a href="#menu" ng-click="tab.setTab(4)">Menu</a></li>
				<li ng-class="{active:tab.isSet(5)}"><a href="#settings" ng-click="tab.setTab(5)">Settings</a></li>
			</ul>
		</div>
        <div class="navbar-right">
            <p class="navbar-text"><a href="#" id="logout">Log out</a></p>
        </div>
	</div>
</nav>

<div class="container-fluid" id="contents">
    <%- body -%>

    <% include footer %>
</div>

