<script src="javascripts/menu.js"></script>

<div class="row-fluid">
    <div class="col-md-4 phone-description">
        <div class="description-box well">
            <h2>Menu Editor</h2>
            <p>Instructions: Add categories to your menu with the </p>
			<button type="button" class="btn btn-info btn-block" id="addCat">Add New Category</button>
        </div>
    </div>
    <div class="col-md-4" id="phone-column" ng-controller="phone">
        <img class="phone" id="phone" ng-src="images/iphone.jpg" alt="iPhone" phone-loaded>
        <div class="overlay noselect" id="overlay">
            <div class="phone-header">
                <h3>Categories</h3>
            </div>
            <ul class="ui-sortable" id="left-sortable">
                <li id="1" class="ui-state-default"><p>Appetizers</p></li>
                <li id="1" class="ui-state-default"><p>Noodles</p></li>
                <li id="1" class="ui-state-default"><p>Curries</p></li>
                <li id="1" class="ui-state-default"><p>Drinks</p></li>
            </ul>
			<div class="order">
				test
			</div>
        </div>
    </div>
    <div class="col-md-4 phone-description">
        <div class="description-box well">
            <h2>Food items</h2>
            <p>Add food items to a given category.</p>
			<button type="button" class="btn btn-info btn-block" id="addFood">Add New Food Item</button>
        </div>
    </div>
</div>
