<script src="javascripts/menu.js"></script>
<link rel="stylesheet" href="stylesheets/menu.css">
<div class="row-fluid">
    <div class="col-md-4 phone-description">
        <div class="description-box well">
            <h2>Menu Editor</h2>
            <p>Instructions: Add categories to your menu with the </p>
			<button type="button" class="btn btn-info btn-block" id="addCat">Add New Category</button>
			<div id="addInfo"> 
					<div id="newAdd">
					<span class="label">Category: 
					<input id="catAdd" class="labelinput" name="category" ng-model="name" required /></span>
					</div>
					<div id="buttonAdd">
					<button style="width: 75px;" type="button" class="btn btn-info btn-block" id="addNow">Add</button>
					</div>
			</div>
			<div id="buttonRemove">
					<button type="button" class="btn btn-info btn-block" id="removeAll">Remove All Food Items</button>
			</div>
        </div>
    </div>
    <div class="col-md-4" id="phone-column" ng-controller="phone">
        <img class="phone" id="phone" ng-src="images/iphone.jpg" alt="iPhone" phone-loaded>
        <div class="overlay noselect" id="overlay">
            <div class="phone-header">
                <h3>Categories</h3>
            </div>
            <ul class="ui-sortable" id="left-sortable">
                <li id="1" class="ui-state-default"><p>Appetizers</p></li>
            </ul>
			<div class="order">
				test
			</div>
        </div>
    </div>
    <div class="col-md-4 phone-description">
        <div class="description-box well">
            <h2>Food items</h2>
            <p>Add food items to a given category:</p>
			<span id="activeCat" style="font-size: 24px; color: black;"></span>
			<button type="button" class="btn btn-info btn-block" id="addFood">Add New Food Item</button>
			<div id="addInfo2"> 
					<div id="newAdd">
					<span class="label">Food Name: 
					<input id="foodName" class="labelinput" name="item-line-1" ng-model="item.itemLine1" required /></span>
					<span class="label">Food Description: 
					<input id="foodDesc" class="labelinput" name="item-line-2" ng-model="item.itemLine2" required /></span>
					<span class="label">Price: 
					<input id="foodPrice" class="labelinput" name="item-line-3" ng-model="item.itemLine3" required /></span>
					</div>
					<div id="buttonAdd">
					<button style="width: 75px;" type="button" class="btn btn-info btn-block" id="addNow2">Add</button>
					</div>
			</div>
			
        </div>
    </div>
</div>
