<% layout('boilerplate') -%>
<% block('title', title) %>

<form action="/api/<%= link %>" method="POST">
    <h2><%= title %></h2>
    <p>To reset this field back to the default values, press the button below.</p>
    <input type="submit" value="Reset">
</form>
